<script setup lang="ts">
import { reactive, computed } from 'vue';

const state = reactive({
    num1: '1',
    num2: '1',
    result: 0
})
const result = computed(function () {
    return parseInt(state.num1) + parseInt(state.num2)
})
const doAdd = function () {
    state.result = parseInt(state.num1) + parseInt(state.num2)
}

</script>



<template>
    <div id="app" class="card">
        <div><input type="text" ref="num1" v-model="state.num1" class="centerText"></div>
        <div class="centerText boldText">+</div>
        <div><input type="text" ref="num2" v-model="state.num2" class="centerText"></div>
        <div><button class="centerText w100px" @click="doAdd()">=</button></div>
        <div class="centerText" ref="result">{{ state.result }}</div>
        <div>{{ state.num1 }} + {{ state.num2 }} = {{ state.result }}</div>
    </div>
</template>

<style scoped>
.centerText {
    text-align: center;
    font-size: 20pt;
    margin: 5px;
}

.boldText {
    font-weight: bold;
}

.card {
    padding: 10px;
    border-style: solid;
    background-color: aquamarine;
    width: 600px;
    text-align: center;
}

.w100px {
    width: 100px;
}
</style>