<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import HelloWorld from './components/HelloWorld.vue'
import CalComponent from './components/CalComponent.vue';
import FormBindings from './components/FormBindings.vue';
import SimpleComponent from './components/SimpleComponent.vue';
import ConditionsAndLoops from './components/ConditionsAndLoops.vue';
import HandlingUserInputVue from './components/HandlingUserInput.vue';
import HelloWorldExample from './components/HelloWorldExample.vue';
import AttributeBindings from './components/AttributeBindings.vue';
</script>

<template>
  <div>
    <SimpleComponent />
    <br /> <br />
    <FormBindings />
    <br /> <br />
    <ConditionsAndLoops />
    <br />
    <br />
    <AttributeBindings />
    <HandlingUserInputVue />
    <CalComponent />
    <HelloWorldExample />
  </div>
</template>

<style scoped>
</style>
